/* GLOBAL STYLING */
a {
  text-decoration: none !important;
  color: white !important;
}


/* LOGIN, LOGOUT FORM STYLE  */

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
}


.form-container form h2 {
  text-align: center;  
}

.btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container a {
  text-decoration: 'none';
  color: #0B5ED7 !important;
}


@media only screen and (min-width: 700px) and (max-width: 1115px) {
  .form-container img {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .form-container form {
    width: 60% !important;
  }

  .form-container form h2 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .form-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .form-container form {
    width: 90% !important;
  }
}